.aside-menu {
  position: fixed;
  width: 200px;
  left: -100%;
  top: 86px;
  transition: 0.5s;
  background-color: rgba(0,25,25,0.8);
  z-index: 2;
  
  &__list {
    padding: 35px 10px;
  }

  &__list-item {
    list-style-type: none;
    padding: 20px 0;
  }

  &__link {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: green;
    font-size: 30px;
    transition: 0.5s;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: green;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(60px);
      }
    };
  }


  &__button {
    display: block;
    position: fixed;
    top: 20px;
    left: 15px;
    border: 0;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: 1s;

    &:hover {
      box-shadow: 0 0 11px 2px $main-color;

      .aside-menu__button-line,
      .aside-menu__button-line:after,
      .aside-menu__button-line:before {
        background-color: $main-color;
      }
    };

    &:focus {
      outline: 0;
    };
  }

  &__button-line {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.2s;

    &::before {
      content: '';
      display: block;
      position: absolute;
      transform: translateY(-5px);
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: white;
      transition: 0.2s;
    };

    &::after {
      content: '';
      display: block;
      position: absolute;
      transform: translateY(5px);
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: white;
      transition: 0.2s;
    };
  }

  &__button-active {
    .aside-menu__button-line {
      &::before {
        transform: rotate(-35deg);
        width: 10px;
        transform-origin: left bottom;
      }
      
      &::after {
        transform: rotate(35deg);
        width: 10px;
        transform-origin: left top;
      }
    }
  }
}