.button-open {
    background-color: transparent;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 5px dashed $main-color;
    color: $main-color;
    font-size: 20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient($main-color-button-open-gradient, $main-color-button-open-gradient);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    cursor: pointer;

    &:hover {
      background-size: 100% 100%;
      color: green;
      border-style: inset;
    };
  } 